header{
	position : fixed;
	height: 25%;
	width:100%;
	background-color: azure;
	background-image: url("../img/logo_AUV.png"); 
	background-repeat: no-repeat;
	background-size: 12%;
	background-position: left;
	z-index: 2;
}

body {
	background-color: azure;	
}

body section#msgAccueil {
	position:fixed;
	left : 75%;
	font-family: "Lucida Grande", Tahoma, Geneva, Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: black;
	background-color: transparent;
	z-index: 2;
}

body section#titrePage {
	position: fixed;
	top: 15%;
	width: 100%;
	font-family: "Lucida Grande", Tahoma, Geneva, Verdana, Arial, Helvetica, sans-serif;
	font-size: 32px;
	font-weight: bold;
	text-align: center;
	color: black;
	background-color: transparent;
	z-index: 2;
}

/* Bouttons submit pour l'ensemble de la page */
.BtnSubmit {
	width:100%;
	text-decoration: none;
	color: black;
	background-color: white;
	border-bottom: 1px solid black;
	border-radius: 10px;
	padding: 2px 10px;
}

.BtnSubmitLogin {
	width: 20%;
	text-decoration: none;
	color: black;
	background-color: white;
	border-bottom: 1px solid black;
	border-radius: 10px;
	padding: 2px 10px;
}

.BtnSubmit2 {
	text-decoration: none;
	color: black;
	background-color: white;
	border-bottom: 1px solid black;
	border-radius: 10px;
	padding: 2px 10px;
}

.BtnSubmit:hover, .BtnSubmit2:hover, .BtnSubmitLogin:hover {
	color: white;
	background-color: black;
}

body h1 {
	width : 80%;
	left : 20%;
	text-align: center;
}

/* Aside */
body aside#asideContent {
	position : absolute;
	width: 20%;
	top : 35%;
	margin: 0px;
	padding: 0px;
	font-family: "Lucida Grande", Tahoma, Geneva, Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	background-color: lightgrey;
	z-index : 1;
}

body aside#asideContent nav ul {
	list-style-type: none;
}

body aside#asideContent nav a {
	display: block;
	text-decoration: none;
	border-bottom: 1px solid black;
	border-radius: 10px;
	padding: 10px 0px;
}

body aside#asideContent nav a:hover {
	color: white;
	background-color: black;
}

body aside#asideContent p {
	font-weight: bold;
}

body aside#asideContent p.error{
	color: red;
}

/* Main */
body section#mainContent {
	position:absolute;
	top : 35%;
	width : 80%;
	left : 22%;
	z-index : 1;
}

body section#mainContent td {
	border:1px solid black;
	padding: 2px 10px;
}

body section#mainContent p.error{
	margin-left: 160px;
	color: red;
}

#moncerclevert{  
	background:greenyellow;
  	border-radius:50%;
  	width:100px;
  	height:100px;
  	border:2px solid black; 
}

#moncerclerouge{
	background:red;
	border-radius:50%;
  	width:100px;
  	height:100px;
  	border:2px solid black; 
}

#monpetitcerclevert{  
	background:greenyellow;
  	border-radius:50%;
  	width:12px;
  	height:12px;
  	border:2px solid black; 
}

#monpetitcerclerouge{
	background:red;
	border-radius:50%;
  	width:12px;
  	height:12px;
  	border:2px solid black; 
}