{% load static %}


<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aero ULM Valence - AUV</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
    
</head>
<body>
    
    <header>
        <a href="#" class="logo">
            <img class="logo-icone" src="{% static 'res/icones/logo.png' %}" alt="Logo du site">
        </a>
        <div class="menu-btn">

        </div>
        <div class="navigation">
            <div class="navigation-items">
                <a href="#">Accueil</a>
                <a href="#">Vols Decouverte</a>
                <a href="#">Ecole de Sport</a>
                <a href="#">Navigation</a>
                <a href="#">Le Club</a>
            </div>
        </div>
    </header>
    <section class="home">
        <div class="content">
            <h1>Le Multiaxe.<br><span>🌤️</span></h1>
            <p> Vous aimez la sensation de liberté, le pilotage précis et les panoramas à couper le souffle ? Le multiaxe est fait pour vous !  
                Cet ULM à ailes fixes se rapproche de l’aviation traditionnelle par son cockpit fermé et ses commandes similaires à celles d’un avion léger.  
                Facile à prendre en main et très maniable, il offre une expérience de vol unique, entre sécurité et adrénaline.  
                Prenez les commandes et découvrez le ciel comme vous ne l’avez jamais vu ! 🚀✈️</p>
            <a href="#">Découvrir</a>
        </div>
        <div class="media-icons">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-whatsapp"></i></a>
        </div>
    </section>
    
    <section class="home">
        <video class = "video-slide" src="{% static 'res/videos/video4.mp4' %}" autoplay muted loop></video>
    </section>

    <script type="text/javascript">

        document.querySelector('.menu-btn').addEventListener('click', function() {
            const navigation = document.querySelector('.navigation');
            navigation.classList.toggle('active'); // Active/désactive le menu
            this.classList.toggle('active'); // Change l'icône du bouton
        });

        // Fermer le menu si on clique en dehors
        document.addEventListener('click', function(event) {
            const navigation = document.querySelector('.navigation');
            const menuBtn = document.querySelector('.menu-btn');
            
            // Vérifier si le clic est en dehors du menu et du bouton de menu
            if (!navigation.contains(event.target) && !menuBtn.contains(event.target)) {
                navigation.classList.remove('active'); // Fermer le menu
                menuBtn.classList.remove('active'); // Revenir à l'icône du menu
            }
        });


    </script>
    
</body>
</html>